<header>
  <top-bar>
    <section id="top-bar">
      <div class="logo"><img src="./images/moboto.png" /></div>
      <div class="info">CSI REGENT PARK, TORONTO<br/>JUNE 21-23, 2013<br/>REGISTRATION FEE: $150</div>
    </section>
  </top-bar>
  <nav-bar>
    <section id="navigation" class="desktop">
      <a href="#schedule">schedule</a> | <a href="#sponsors">sponsors</a> | <a href="#register">register</a> | <a href="#location">location</a>
    </section>
  </nav-bar>
</header>

<div class="wide-img"></div>

<section id="all-content">

  <% ["schedule","sponsors","register","location"].each do |name| %>
    <a class="anchor" id="<%= name %>"></a>
    <div class="name">
      <h1 id = "<%= name %>" class="title desktop"><%= name %></h1>
      <h1 id = "<%= name %>" class="title mobile"><%= name %></h1>
      <%= partial name %>
    </div>
  <% end %>

</section>
 
<section id="footer">
  Keep in touch
  Tweets
  Email
</section>

